<h1>New Tweet</h1>
<form action="/tweets/<%= @tweet.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="">
  <textarea name="content" rows="8" cols="50"></textarea></br>
  <input type="submit" name="submit" id="submit">
</form>
